// Переменные, миксины, функции
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";

// CSS-файлы библиотек
@import "vendor/libs";

// Основное
@import "base/fonts";
@import "base/general";

// БЭМ-блоки
@import "../blocks/modules";

body{
    background-color: $grey;
    font-family: 'Arial';
    font-style: normal;
}

.button{
    &--white{
        padding: 14px 24px;
        background-color: $white;
        border-radius: 50px;
    }
    &--orange{
        padding: 14px 24px;
        background-color: $orange;
        border-radius: 50px;
        color: $white;
    }
    &__arrow{

        &--right{

        }
        &--left{
            
        }
    }
}

